.box {
    background-color: rgb(1, 40, 88);
    max-width: 955px;
    margin: auto;
    height: 850px;
    border-radius: 20px;
    padding: 5px 20px;
}
.inputCal {
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    padding: 1px 0px;
    border-radius: 20px;
    text-align: end;
}
.numbers {
    font-size: 30px;
    margin-right: 20px;
    font-family: sans-serif;
}
.secHr {
    padding: 10px;
    border: none;
    background: linear-gradient(to left, rgb(251, 0, 226) ,rgb(34, 0, 255) );
}
.one {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.two {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.three {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.time {
    margin-top: 10px;
    font-size: 90px;
    padding: 1px 90px;
    border-radius: 20px;
    background-color: rgba(99, 68, 212, 1);
    color: white;
}

.four {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.five {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}.six {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.zarb {
    margin-top: 10px;
    font-size: 90px;
    padding: 1px 80px;
    border-radius: 20px;
    background-color: rgba(99, 68, 212, 1);
    color: white;
}

.seven {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.eight {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.nine {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.minus {
    margin-top: 10px;
    font-size: 90px;
    padding: 1px 88px;
    border-radius: 20px;
    background-color: rgba(99, 68, 212, 1);
    color: white;
}

.concel {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 97px;
    border-radius: 20px;
}
.zero {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 95px;
    border-radius: 20px;
}
.dot {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 0px 107px;
    border-radius: 20px;
}
.plus {
    margin-top: 10px;
    font-size: 90px;
    padding: 1px 76px;
    border-radius: 20px;
    background-color: rgba(99, 68, 212, 1);
    color: white;
}
.mod {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 80px;
    border-radius: 20px;
}
.openQavs {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 105px;
    border-radius: 20px;
}
.closeQavs {
    margin-top: 10px;
    background-color: rgba(23, 28, 34, 1);
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    padding: 1px 105px;
    border-radius: 20px;
}
.barobar {
    margin-top: 10px;
    font-size: 90px;
    padding: 1px 76px;
    border-radius: 20px;
    background-color: rgba(99, 68, 212, 1);
    color: white;
}
@media(max-width: 430px){
    .one {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .two {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .three {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .time {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    
    .four {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .five {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }.six {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .zarb {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    
    .seven {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .eight {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .nine {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .minus {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    
    .concel {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .zero {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .dot {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .plus {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .mod {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .openQavs {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .closeQavs {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .barobar {
        font-size: 50px;
        padding: 5px 0px;
        width: 23%;
    }
    .box {
        width: 90%;
        height: 650px;
    }
    .allNumber {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}